.fon{
    background-color: #746471;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 1110px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 33px;
}

li{
    color: white;
    font-family: 'Rubik';
    font-size: 16px;
    list-style-type: none;
}