.card{
    width: 260px;
    height: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    row-gap: 10px;
}

.card img{
    width: 100%;
    height: auto;
}

.zagl{
    font-size: 18px;
    font-family: 'Rubik';
    width: 220px;
    font-weight: 600;
    padding-left: 20px;
}

.cost{
    font-size: 14px;
    font-family: 'Rubik';
    width: 220px;
    padding-left: 20px;
}

.card button{
    width: 220px;
    height: 40px;
    background-color: #6AAE55;
    color: white;
    font-family: 'Rubik';
    font-size: 16px;
    border: none;
    border-radius: 10px;
    align-items: center;
    margin: auto;
}

button:hover{
    background-color: #376e26;
    color: rgb(238, 238, 238);
}

.cards{
    width: 820px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}