.cont{
     display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.zz{
    color: #6AAE55;
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: bold;
}

.sod{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.sod img{
    width: 14px;
    height: auto;
}

.lk{
    color: white;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: lighter;
}