footer {
    background-color: #5B4A58;
    padding-bottom: 10px;
}

.fonn{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0px;
}

.line{
    background-color: #A29BB4;
    height: 1px;
}

.kont{
    color: #A29BB4;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: lighter;
    padding: 20px 0px;
    text-align: center;
}