.questions{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.zz{
    color: #6AAE55;
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: bold;
}

.vvod{
display: flex;
flex-direction: row;
width: 450px;
justify-content: space-between;
}

.named{
    color: #F2F2F2;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: lighter;
    padding-bottom: 5px;
}

input{
    width: 220px;
    height: 30px;
    border-radius: 2px;
    border: none;
}

.in{
    width: 450px;
    height: 75px;
    border-radius: 2px;
    border: none;
}

.questions button{
    width: 220px;
    height: 40px;
    background-color: #6AAE55;
    color: white;
    font-family: 'Rubik';
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-left: auto;
}

button:hover{
    background-color: #376e26;
    color: rgb(238, 238, 238);
}